<div class="header pb-5 pt-5 pt-lg-8 d-flex align-items-center">
    <span class="mask bg-gradient-primary opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Orders</h3>
                        </div>
                    
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive table align-items-center table-flush">
                        <p-table #users [columns]="Records.cols" [value]="Records.data" [paginator]="true"
                            [rows]="10" sortMode="multiple" [showCurrentPageReport]="false" editMode="row"
                            class="gridstyle">

                            <ng-template pTemplate="header" let-columns>
                                <tr>

                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-row="rowData">

                                <tr>
                                    <td style="text-align:center" *ngFor="let col of columns">
                                        <span> {{rowData[col.field]}}</span>
                                    </td>

                                    <td style="text-align: center; cursor: pointer;">
                                        <i class="pi pi-align-justify" (click)="onDetail(rowData)"></i>
                                       
                                    </td>
                                </tr>
                                <tr>

                                </tr>

                            </ng-template>
                            <ng-template pTemplate="paginatorRight" let-state>
                                Showing {{state.first + 1}}to {{state.first +  state.rows}} of {{Record.approvedTotalRows}} entries
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>